body{
  background: linear-gradient(to right, red, blue);
}
.container1{
  text-align: center;
}
.container2{
  text-align: center;
}
#button1{
  font-size: 5em;
}
#button2{
  font-size: 5em;
}
#label1{
  font-size: 2.75em;
}
#label2{
  font-size: 2.75em;
}